h1 {
	font-family: 'Nanum Pen Script', cursive;
	margin: auto;
    border: none;
    text-align: center;
    font-size: 120px;
}

body {
	background: #d6eaf2;
	color: #333;
}

span {
	 font-size:170px;
}

.show-card {
	font-family: 'Nanum Pen Script', cursive;
	background: #d6eaf2;
    border: 6px dotted black;  
    color: black;
    margin: auto;
    font-size:35px;
    left: 40%;
    line-height: 1.5;
    position: relative; 
    top: 40%;
    border-radius: 20%
}

.show-card.hide {
  animation: fade-out 0.4s forwards ease-out;
}

.card {
  bottom: calc(50% - 8em);
  display: none;
  height: 16em;
  left: calc(50% - 10em);
  position: absolute;
  /*transition: all 0.4s 0.4s cubic-bezier(.5,.2,.43,1.33);*/
  width: 20em;
}
.addr {
  color: #aaa;
  height: 1em;
  position: static;
  right: 0.5em;
  top: 2em;
  width: 50%;
  margin: 0px 0px 0px 100px;
}
/*.details {
  position: absolute;
  bottom: 2.5em;
  background: #fff;
  border-radius: 0.25em;
  height: 0;
  overflow: hidden;
  text-align: center;
  width: 20em;
}
.name {
  color: #333;
  font-weight: bold;
  opacity: 0;
  margin: 3em 0 0;
}*/
